.teamContainer {
    display: inline-flex;
    vertical-align: middle;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height:  300px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.homeAway, .teamname{
    vertical-align: bottom;
    text-align: center;
}

.score {
    font-size: xx-large;
    text-align: center;
    color: white;
}

.teamContainer .avatarGroup {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
