.teamContainer {
    display: inline-block;
    vertical-align: middle;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 225px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.homeAway, .teamname{
    vertical-align: bottom;
    text-align: center;
}

