.gametile{
    border-radius: 8px;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    margin: 5px;
    width: 525px;
    background-color: black;
    color: white;
    display: inline-block;
    
}

.highlight {
    border: 2px solid green;
    background-color: rgba(4, 41, 4, 0.918);
}
.highlightTies {
    border: 2px solid yellow;
    background-color: rgba(41, 41, 4, 0.918);
}
.gameid {
    font-size: small;
    display: inline-block;
    color: azure;
}

.teams {
    background-color: inherit;
    display: flex;
}

.spreadContainer {
    width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    color: greenyellow;
}
.spread { 
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatarsTeam {
    width: 200px;
    display: flex;
    justify-content: center;
}

.avatarsSpread {
    width: 115px;
    display: flex;
    justify-content: center;
}

.gamelocation {
    font-size: small;
    text-align: center;
    color: greenyellow;
}

.avatarsTeam {
    width: 180px;
}

.avatarsTeam :global(.MuiAvatarGroup-root),
.avatarsSpread :global(.MuiAvatarGroup-root) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.gametile :global(.MuiAvatarGroup-root) .avatar {
    width: 24px;
    height: 24px;
}

.gametile :global(.MuiAvatarGroup-root) .npcAvatar {
    width: 24px;
    height: 24px;
    border: 2px solid orange;
}

.gametile :global(.MuiAvatarGroup-root) .hilitedAvatar {
    border: 3px solid lightskyblue;
    width: 36px;
    height: 36px;
}
