.gametile{
    border-radius: 8px;
    border-style: solid;
    border-color: blue;
    border-width: 3;
    margin: 5px;
    width: 585px;
    background-color: black;
    color: white;
    display: inline-block;
    
}

.highlight {
    border: 2px solid green;
    background-color: rgba(4, 41, 4, 0.918);
}
.highlightTies {
    border: 2px solid yellow;
    background-color: rgba(41, 41, 4, 0.918);
}
.gameid {
    font-size: small;
    display: inline-block;
    color: azure;
}

.teams {
    background-color: inherit;
    display: flex;
    
}

.spread {
    width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    color: greenyellow;
}
.spread input{ 
    width: 5rem;
    height: 3rem;
    background: black;
    color: white;
    font-size: x-large;
}


.gameteam {
    display: inline-block;
    width: 200px;
    height: 225px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.gamelocation {
    font-size: small;
    text-align: center;
    color: greenyellow;
}

.spread .avatarGroup {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    align-items: center;
}

.gametile :global(.MuiAvatarGroup-root) .avatar {
    width: 24px;
    height: 24px;
}

.gametile :global(.MuiAvatarGroup-root) .npcAvatar {
    width: 24px;
    height: 24px;
    border: 2px solid orange;
}

.gametile :global(.MuiAvatarGroup-root) .hilitedAvatar {
    border: 3px solid lightskyblue;
    width: 36px;
    height: 36px;
}
